---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: k8s-gateway
spec:
  interval: 30m
  chart:
    spec:
      chart: k8s-gateway
      version: 2.4.0
      sourceRef:
        kind: HelmRepository
        name: k8s-gateway
        namespace: flux-system
  #% if bootstrap_node_lb.enabled %#
  postRenderers:
    - kustomize:
        patches:
          - target:
              kind: Service
            patch: |
              - op: add
                path: /spec/loadBalancerClass
                value: "io.cilium/node"
  #% endif %#
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    fullnameOverride: k8s-gateway
    domain: "${SECRET_DOMAIN}"
    ttl: 1
    service:
      type: LoadBalancer
      port: 53
      #% if not bootstrap_node_lb.enabled %#
      annotations:
        lbipam.cilium.io/ips: "#{ bootstrap_cloudflare.gateway_vip }#"
      #% endif %#
      externalTrafficPolicy: Cluster
    watchedResources: ["Ingress", "Service"]
