---
#% if bootstrap_bgp.enabled and not bootstrap_node_lb.enabled %#
bgpControlPlane:
  enabled: true
#% endif %#
bpf:
  masquerade: false # Required for Talos `.machine.features.hostDNS.forwardKubeDNSToHost`
cgroup:
  automount:
    enabled: false
  hostRoot: /sys/fs/cgroup
cluster:
  id: 1
  name: "#{ bootstrap_cluster_name|default('home-kubernetes', true) }#"
# NOTE: devices might need to be set if you have more than one active NIC on your hosts
# devices: eth0
envoy:
  enabled: false
hubble:
  enabled: false
ipam:
  mode: kubernetes
k8sServiceHost: 127.0.0.1
k8sServicePort: 7445
kubeProxyReplacement: true
kubeProxyReplacementHealthzBindAddr: 0.0.0.0:10256
l2announcements:
  #% if (bootstrap_bgp.enabled or bootstrap_node_lb.enabled or bootstrap_feature_gates.dual_stack_ipv4_first) %#
  enabled: false # https://github.com/cilium/cilium/issues/28985
  #% else %#
  enabled: true
  #% endif %#
loadBalancer:
  algorithm: maglev
  mode: snat
localRedirectPolicy: true
#% if bootstrap_node_lb.enabled %#
nodeIPAM:
  enabled: true
#% endif %#
operator:
  replicas: 1
  rollOutPods: true
rollOutCiliumPods: true
securityContext:
  capabilities:
    ciliumAgent:
      - CHOWN
      - KILL
      - NET_ADMIN
      - NET_RAW
      - IPC_LOCK
      - SYS_ADMIN
      - SYS_RESOURCE
      - DAC_OVERRIDE
      - FOWNER
      - SETGID
      - SETUID
    cleanCiliumState:
      - NET_ADMIN
      - SYS_ADMIN
      - SYS_RESOURCE
